.conteudo {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  opacity: 1; /* Defina a opacidade padrão para 1 */
  transition: opacity 5s ease, display 5s ease; /* Adicione a transição para opacity e display */
}

.hidden {
  opacity: 0;
  pointer-events: none;
  display: none; /* Altere para display: none; para garantir que a div seja totalmente ocultada */
}